.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.login-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 100px;
    background-color: white;
    border-radius: 10px;
}

.login-title {
    color: #56A4FF;
    font-weight: bold;
}

.login-field {
    height: 2rem;
    border: none;
    background-color: #D7E9FF;
    color: #56A4FF;
    font-size: 1.2rem;
    outline: none;
    padding: 10px;
}

.login-field::placeholder {
    color: #56A4FF;
}

.login-btn {
    background-color: #56A4FF;
    color: #D7E9FF;
    box-shadow: none;
    border: 1px solid #D7E9FF;
    outline: none;
    margin-top: 20px;
    border-radius: 2px;
    transition: 0.3s;
    font-size: 1.2rem;
    padding: 10px 20px;
}

.login-btn:hover {
    color: #56A4FF;
    background-color: #D7E9FF;
    transition: 0.3s;
    cursor: pointer;
}

.register-redirect {
    color: #56A4FF;
    text-decoration: none;
}